{% extends 'base.html' %}

{% block title %}
    Update Ad
{% endblock %}


{% block content %}
<style type="text/css">
   .create-form {
        width: 100%;
        max-width: 100%;
        padding: 15px;
        margin: auto;
    }

    .submit-button{
        max-width: 200px;
    }

    .image {
      opacity: 1;
      transition: .5s ease;
      backface-visibility: hidden;
    }

    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
    .image-group{
        position: relative;
        text-align: center;
        cursor:pointer;
    }

    .image-group:hover .image {
      opacity: 0.3;
    }

    .image-group:hover .middle {
      opacity: 1;
    }

    .text {
      margin: auto;
      background-color: #4CAF50;
      color: white;
      font-size: 15px;
      padding: 15px;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-lg-7 offset-lg-1">

            {% if success_message %}
                <h3 style="color:green; text-align: center;">{{success_message}}</h3>
            {% endif %}

            <form class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}

                <!-- Meal -->
                <div class="form-group">
                    <label for="id_meal">Meal:</label>
                    <select class="form-control" name="meal" id="id_meal" required>
                        {%for meal in MEALS%}
                            <option value="{{meal.0}}"  {%if meal.0 == form.initial.meal %} selected {%elif not meal.0%} disabled hidden  {%endif%}>{{meal.1}}</option>
                        {%endfor%}
                    </select>
                </div>
                <br>
                <!-- Hall -->
                <div class="form-group">
                    <label for="id_hall">Hall No:</label>
                    <select class="form-control" name="hall" id="id_hall" required>
                        {%for hall in HALLS%}
                            <option value="{{hall.0}}"  {%if hall.0 == form.initial.hall  %} selected {%elif not hall.0%} disabled hidden  {%endif%}>
                                {{hall.1}}
                            </option>
                        {%endfor%}
                    </select>
                </div>

                <!-- Price -->
                <div class="form-group">
                    <label for="id_price">Price: Rs.</label>
                    <input class="form-control" type="number" name="price" id="id_price" placeholder="Price" value="{{form.initial.price}}" required autofocus>
                </div>

                <div class="form-group">
                    <p>Sold yet?:</p>
                    <input type="radio" id="yes" name="sold" value="1" {%if form.initial.sold == 1%} checked {%endif%} required>
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="sold" value="0" {%if form.initial.sold == 0%} checked {%endif%}>
                    <label for="no">No</label>
                </div>


                {% for field in form %}
                    <p>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                {% if form.non_field_errors %}
                    <div style="color: red">
                        <p>{{form.non_field_errors}}</p>
                    </div>
                {% endif %}

                <!-- Submit btn -->
                <button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>



{%endblock content%}