{% extends 'base.html' %}
{% load static %}

{% block content %}
{%if 'hall' in request.GET%}
    {%with hall=request.GET.hall%}
    {%endwith%}
{%endif%}

<style type="text/css">

    @media (max-width: 768px) {
        .right-column{
            margin-left: 0px;
        }
    }

    @media (min-width: 768px) {
        .right-column{
            margin-left: 20px;
        }
    }

    .blog-post-container{
        margin-bottom: 20px;
        width: 100%;
    }
    .create-post-bar{
        background-color: #fff;
        margin-bottom:20px;
    }

    .left-column{
        padding:0px;
    }

    .right-column{
        padding:0px;
    }
    .lead{
        font-size: 17px;
    }
</style>
<div class="container">
    <div class="row">

        <!-- Ad feed -->
        <div class="left-column col-lg-7 offset-lg-1">

            <!-- Top 'create post' bar -->
            <div class="d-lg-none mb-3">
                <div class="card m-auto d-flex flex-column p-3">
                    <p class="m-auto"><a class="btn btn-primary" href="{% url 'coupons:create'%}">Post an Ad</a></p>
                    <hr>
                    <form method="GET">

                    <div class="form-group">
                        <select class="form-control" name="hall" id="id_hall_top" required>
                            {%for hall in HALLS%}
                                <option value="{{hall.0}}"{%if 'hall' in request.GET %}
                                                            {%if hall.1 == request.GET.hall or request.GET.hall == 'None' %} selected{%endif%}
                                                          {%else%}  {%if not hall.0 %}selected  {%endif%}{%endif%}>
                                    {%if not hall.0 %}
                                        All Halls
                                    {%else%}
                                        {{hall.1}}
                                    {%endif%}
                                </option>
                            {%endfor%}
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control" name="meal" id="id_meal_top" required>
                            {%for meal in MEALS%}
                                <option value="{{meal.0}}" {%if 'meal' in request.GET %}
                                                            {%if meal.0 == request.GET.meal or request.GET.meal == 'None' %} selected{%endif%}
                                                          {%else%}  {%if not meal.0 %}selected  {%endif%}{%endif%}>
                                    {%if not meal.0 %}
                                        All meals
                                    {%else%}
                                        {{meal.1}}
                                    {%endif%}
                                </option>
                            {%endfor%}
                        </select>
                    </div>

                <!-- Submit btn -->
                <button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Filter</button>

                </form>

                </div>




            </div>
            <!-- end Top 'create post' bar -->

            <!-- Coupon posts-->
            {%if coupon_posts%}
                {% for post in coupon_posts %}
                    <div class="blog-post-container">
                        {% include 'coupons/snippets/coupon_snippet.html' with coupon_post=post %}
                    </div>
                {% endfor %}
            {%else%}
                <div class="blog-post-container">
                    {% include 'coupons/snippets/coupon_snippet.html' with query=query %}
                </div>
            {%endif%}
            <!-- End Blog posts-->
            <!--Pagination-->
            {%include 'coupons/snippets/pagination_snippet.html' with posts=coupon_posts  %}

        </div>
        <!-- end blog feed -->


        <!-- Right 'create post' column  -->
        <div class="right-column col-lg-3 d-lg-flex d-none flex-column">

            <div class="card create-post-bar d-flex flex-column p-3">
                <p class="m-auto"><a class="btn btn-primary" href="{% url 'coupons:create' %}">Post Ad</a></p>
            </div>

            <form method="GET">

                <div class="form-group">
                    <select class="form-control" name="hall" id="id_hall_side" required>
                        {%for hall in HALLS%}
                            <option value="{{hall.0}}"{%if 'hall' in request.GET %}
                                                            {%if hall.1 == request.GET.hall or request.GET.hall == 'None'  %} selected{%endif%}
                                                      {%else%}  {%if not hall.0 %}selected  {%endif%}{%endif%}>
                                {%if not hall.0 %}
                                    All Halls
                                {%else%}
                                    {{hall.1}}
                                {%endif%}
                        {%endfor%}
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control" name="meal" id="id_meal_side" required>
                        {%for meal in MEALS%}
                            <option value="{{meal.0}}"  {%if 'meal' in request.GET %}
                                                            {%if meal.0 == request.GET.meal or request.GET.meal == 'None' %} selected{%endif%}
                                                          {%else%}  {%if not meal.0 %}selected  {%endif%}{%endif%}>
                                {%if not meal.0 %}
                                    All meals
                                {%else%}
                                    {{meal.1}}
                                {%endif%}
                            </option>
                        {%endfor%}
                    </select>
                </div>


                <!-- Submit btn -->
                <button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Filter</button>

            </form>

        </div>
        <!-- end Right 'create post' column  -->

    </div>
</div>




{% endblock content %}


